

#day-chooser .daily-img {
	float: left;
	margin-top:20px;
}

#day-chooser .side_left{
	text-align: center;
}

#day-chooser .day-cell{
    display: inline-block;
	float: left;
	position:relative;
}


#day-chooser span{
 display:block;
 text-align:center;
}

#day-chooser .link{
	position: absolute;
	left: 14px;
	top: 5px;
	font-size: 90px;
	color:#00FFFF;
	opacity:0.75;
}

#app{
	margin-left:0px;
}

#choosen-day ul li a{
	font-size:40px;
}
