#app {
    min-width: 1000px;
    margin-left:0px;
}

#day-chooser .day-cell {
    min-height: 200px;
    margin-top: 40px;
}

#day-chooser .daily-img {
}

#day-chooser .side_left{
	text-align: center;
}

#day-chooser ul {
    list-style: none;
}

#day-chooser span{
 display:block;
 text-align:center;
}

#day-chooser .link{
	position: absolute;
	left: 20px;
	top: 15px;
	font-size: 90px;
	color:#00FFFF;
	opacity:0.65;
    font-weight: bold;
}
