<section id="breadcrumb">
	<div>Du er her :</div>
	<div class="breadcrumb">
		Plantevalg
		<% $.each(breadcrumbs(), function(i, levelTuple){ %>
			=> <%= levelTuple.join(" ") %>
		<% }) %>
	</div>
</section>