<ol class="breadcrumb">
	<% var list = breadcrumbs(), len = list.length;
			$.each(list, function(index, level){ %>
	<li class="<%= index === (len - 1) ? "active" : "" %>"><%== level %></li>
	<% }) %>
</ol>
