<section id="breadcrumb">
	<div>Du er her :</div>
	<nav class="breadcrumb">
		<%== can.route.link("Plantevalg", {}) %>
		<% $.each(breadcrumbs(), function(i, levelTuple){ %>
			=> <%== levelTuple %>
		<% }) %>
	</nav>
</section>