<section id="day-chooser">

	<table >
		<tr>
			<th>Mandag</th>
			<th>Tirsdag</th>
			<th>Onsdag</th>
			<th>Torsdag</th>
			<th>Fredag</th>
			<th>Lørdag</th>
			<th>Søndag</th>
		</tr>
	</table>
</section>