<ul class="days">
	<% days.forEach(function(day, index) { 
		var $link = $(can.route.link(index + 1, {plantId : plantId, day : index + 1}));
			
		$link.addClass('link');
	%>
	<li class="day-cell col-md-4" data-img="<%= imageMap.attr(day) %>">
	<img src="<%= imageMap.attr(day) %>" class="daily-img" height="200" width="337"/>
	<%== $link.get(0).outerHTML %>
	
	<% $('li').each(function() {
		this.css('background-image', this.data('img'));
	});
	%>
	<span class="jumbotron"> 
		<%= day %>
	</span>
	</li>
	<% }); %>
</ul>
