<div class="row">
	<div class="col-md-4">
		<ul id="graph_list" class="nav nav-pills nav-stacked">
			<li><a href="#">Lys</a></li>
			<li><a href="#">Jordfuktighet</a></li>
		</ul>
	</div>
	<div class="col-md-8">	
		<div class="jumbotron ">
			<video id="current_day_video" style="width:100%; height:400px;" controls autobuffer preload tabindex="0">
			</video>
		</div>
		<div class="jumbotron ">
			<div id="chart" style="width:100%; height:400px;"></div>
		</div>
	</div>
</div>
<script>
$(function () {
		var mydata = [];
		
		for(var i=0; i<SENSORDATA.length; i++){
			var reading = SENSORDATA[i];
			
			mydata.push([reading.created(), reading.light]);
		}
		
    $('#chart').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Snow depth at Vikjafjellet, Norway'
            },
            subtitle: {
                text: 'Irregular time data in Highcharts JS'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Snow depth (m)'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
                }
            },
            
            series: [{
                name: 'Winter 2007-2008',
                // Define the data points. All series have a dummy year
                // of 1970/71 in order to be compared on the same x axis. Note
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: mydata
        });
    });

		
</script>